/*** Rules ***/

/*** Typography ***/
/*
Paragraph = 
max characters
line hight
font size on p, h2,h1....
fonts...


*/

li {
  list-style: none;
}
.App {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
}

$active: blue;

/*** BUTTONS ***/
.big-btn {
  font-size: 1.4em;
  border: 1px solid red;
  width: 150px;
  height: 80px;
}

header {
  .fa-fa-bars {
  }
  .chapter-title {
  }
}

nav {
  ul {
    li {
      .link-is-active {
        color: $active;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
.introduction {
  border: 2px solid red;
  h1 {
  }
  p {
  }
}
.myDiv {
  display: inline-block;
}
