/*** Colors ***/
$activeColor: #00aaef;
$linkColor: #034ea2;
$greyBackground: #f5f2ed;
$mainPink: #e1056d;
$mainBackground: #ffffff;


$darkBlue: #002d5a;
$lightBlue: #00aeef;
$red: #9a0932;
$darkGreen: #406618;
$lightGreen: #78be00;
$orange: #eb9100;
$yellow: #ffd400;
$lightGrey: #e0ded9;
$mediumGrey: #a79d96;
$darkGrey: #685c53;


/*** Rules ***/
/*
På webben använder vi Georgia, Frutiger (inte
Frutiger SLL) eller Verdana. 
*/

/**
Lägga in cursors
*/


* {
  margin: 0px;
  padding: 0px;
}


/*** Typography ***/

p {
  font-size: 1rem;
  line-height: 120%;
  text-align: left;
  max-width: 65ch;
}
/*
Paragraph = 
max characters = 65
line hight
font size on p, h2,h1....
fonts...
text-align
letter-spacing?

*/


body {
  color: $darkBlue;
  background: $greyBackground;
}

main {
  padding: 20px;
}

/**General styles**/
h1 {
  margin: 0 5px 30px 5px;
}

a {
  color: $linkColor;
}

a:hover {
  color: $orange;
}

li {
  list-style: none;
}

/*** BUTTONS ***/
.btn-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.btn{
  cursor: pointer;
  padding: 10px;
  background: $mainPink;
  width: 80px;
}
.btn-prev-div {
  grid-column: 3 / 4;
  grid-row: 1;
}
.btn-next-div {
  grid-column: 6 / 7;
  grid-row: 1;
}

.big-btn {
  font-size: 1.4em;
  width: 150px;
  height: 80px;
}

header {
  background: white;
  display: grid;
}

nav {
  ul {
    li {
      font-family: Verdana, Tahoma, sans-serif;
      font-size: 14px;
      .link-is-active {
        color: $activeColor;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

main {
  border:1px solid green;
  background: white;
}

.introduction {
  h1 {
  }
  p {
  }
}
/**Video.js**/
.VideoImage-container {
  margin: auto;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.question-wrapper {
  p {
    margin: 0 5px 20px 5px;
  }
  li {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 10px;
    padding: 5px;
    background: green;
    &:hover {
      background-color: $lightGreen;
      transform: scale(1.03);
      z-index: 2;
      position:relative;
      cursor: pointer;
    }
    .question-point {
      grid-column: 1 / 2;
      border: 1px solid red;
    }
    .question-answers-text{
      grid-column: 2 / 9;
      border:1px solid black;
    }
    
  }
}

.question-answers {
  border:1px solid;
}

footer {
  background-color: $darkBlue;
  h1 {
    color: white;
  }
}
