/*** Rules ***/
/*
På webben använder vi Georgia, Frutiger (inte
Frutiger SLL) eller Verdana. 
*/

/*** Typography ***/
/*
Paragraph = 
max characters = 65
line hight
font size on p, h2,h1....
fonts...
text-align

*/

li {
  list-style: none;
}

.App {
  margin: 10px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

$activeColor: #00aaef;
$linkColor: #034ea2;
$greyBackground: #f5f2ed;
$darkBlue: #002d5a;
$lightBlue: #00aeef;
$red: #9a0932;
$pink: #e1056d;
$darkGreen: #406618;
$lightGreen: #78be00;
$orange: #eb9100;
$yellow: #ffd400;
$lightGrey: #e0ded9;
$mediumGrey: #a79d96;
$darkGrey: #685c53;

/**General styles**/
a {
  color: $linkColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $darkBlue;
}

/*** BUTTONS ***/
.big-btn {
  font-size: 1.4em;
  border: 1px solid $red;
  width: 150px;
  height: 80px;
}

header {
  .fa-bars {
    display: inline-block;
    font-size: 30px;
    color: $linkColor;
  }
  .chapter-title {
    text-align: right;
  }
}

nav {
  ul {
    li {
      .link-is-active {
        color: $activeColor;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
.introduction {
  border: 2px solid $red;
  h1 {
  }
  p {
  }
}

.question-wrapper {
  border: 4px solid $darkGreen;
  h1 {
  }
  p {
  }
  li {
    border: 1px solid $red;
    .question-point {
      border: 1px solid $red;
      display: inline-block;
    }
  }
}
